/* Start basic grid definitions */
.grid_100,.grid_10,.grid_15,.grid_20,.grid_25,
.grid_30,.grid_35,.grid_40,.grid_45,.grid_50,
.grid_55,.grid_60,.grid_65,.grid_70,.grid_75,
.grid_80,.grid_85,.grid_90,.grid_33,.grid_66 {
	float: left;
	padding: 15px;
	background-color: lightgray;
	border: 1px solid orange;
}

.grid_100 {
	width:100%;
}

.grid_10 {
	width:10%;
}

.grid_15 {
	width:15%;
}

.grid_20 {
	width:20%;
}

.grid_25 {
	width:25%;
}

.grid_30 {
	width:30%;
}

.grid_33 {
	width:33.33%;
}

.grid_35 {
	width:35%;
}

.grid_40 {
	width:40%;
}

.grid_45 {
	width:45%;
}

.grid_50 {
	width: 50%;
}

.grid_55 {
	width:55%;
}

.grid_60 {
	width:60%;
}

.grid_65 {
	width:65%;
}

.grid_66 {
	width:66.66%;
}

.grid_70 {
	width:70%;
}

.grid_75 {
	width:75%;
}

.grid_80 {
	width:80%;
}

.grid_85 {
	width:85%;
}

.grid_90 {
	width:90%;
}
/* End basic grid definitions */



/* Start pad removers */
.NoPadAll {
	padding:0;
}

.NoPadTop{
	padding-top: 0px;
}

.NoPadBottom{
	padding-bottom: 0px;
}

.NoPadTopBottom{
	padding-top: 0px;
	padding-bottom: 0px;
}

.NoPadLeft{
	padding-left: 0px;
}

.NoPadRight{
	padding-right: 0px;
}

.NoPadLeftRight{
	padding-left: 0px;
	padding-right: 0px;
}
/* End pad removers */





/* Start grid floats */
.FloatLeft {
	float:left;
}

.FloatRight {
	float:right;
}

.FloatCenter {
	float:none;
	margin-left:auto;
	margin-right:auto;
}
/* End grid floats */




/* Start alternate grid background color */
.c2 {
	background-color: darkgray;
}
/* End alternate grid background color */


